POSTGRES_PASSWORD=replace-with-a-long-random-password
LAKEKEEPER_PG_ENCRYPTION_KEY=replace-with-a-long-random-secret
LAKEKEEPER_PORT=8181
LAKEKEEPER_AUTHZ_BACKEND=allowall

# Set these for production-grade authentication.
LAKEKEEPER_BASE_URI=https://lakekeeper.example.com
LAKEKEEPER_OPENID_PROVIDER_URI=
LAKEKEEPER_OPENID_AUDIENCE=
LAKEKEEPER_UI_OPENID_CLIENT_ID=
LAKEKEEPER_UI_OPENID_SCOPE=
