BASE_URL=http://localhost:3002
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
DISABLE_SIGNUP=false
DISABLE_TELEMETRY=true
CLUSTER_WORKERS=0
RYBBIT_BACKEND_PORT=3001
RYBBIT_CLIENT_PORT=3002

CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=replace-me-long-random-password

POSTGRES_DB=analytics
POSTGRES_USER=rybbit
POSTGRES_PASSWORD=replace-me-long-random-password

REDIS_PASSWORD=replace-me-long-random-password
BETTER_AUTH_SECRET=replace-me-long-random-secret
MAPBOX_TOKEN=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
