.env
.venv/

*.txt
*.db*

*.sql

.cache/
#my_resume

acme.json
traefik.yaml
#acme.json
#config.yaml
cf-token
logs/
uploads/

*.deb

codex-cli-safe/
ThreeBodies/
shortener/
bentopdf-repo/

images/
storage/

__pycache__

node_modules/
package-lock.json
package.json

data/
music/

app/
!/listmonk/listmonk-subscribe/app/
slidev-sample/

baserow_data/