.env
.venv/

*.db*

acme.json
traefik.yaml
#acme.json
#config.yaml
cf-token
logs/

*.deb

codex-cli-safe/
ThreeBodies/
shortener/
bentopdf-repo/

images/
storage/

__pycache__

node_modules/
package-lock.json
package.json

data/
music/

app/
slidev-sample/