SHLINK_PORT=8987
SHLINK_WEB_PORT=8988
DEFAULT_DOMAIN=localhost:8987
IS_HTTPS_ENABLED=false
MARIADB_ROOT_PASSWORD=replace-with-a-long-random-password
MARIADB_PASSWORD=replace-with-a-long-random-password
SKIP_INITIAL_GEOLITE_DOWNLOAD=true
GEOLITE_LICENSE_KEY=
SHLINK_INITIAL_API_KEY=
