NAVIDROME_UID=1000
NAVIDROME_GID=1000
NAVIDROME_BIND_ADDRESS=127.0.0.1
NAVIDROME_PORT=4533
NAVIDROME_DATA_PATH=./data
NAVIDROME_BACKUP_PATH=./backups
NAVIDROME_MUSIC_PATH=/path/to/your/music

TZ=Europe/Warsaw
ND_LOGLEVEL=info
ND_BASEURL=
ND_ENABLEINSIGHTSCOLLECTOR=false
ND_SCANNER_SCHEDULE=@every 1h
ND_SESSIONTIMEOUT=48h
ND_BACKUP_SCHEDULE=@every 24h
ND_BACKUP_COUNT=7
