GEOPULSE_VERSION=1.35.0
GEOPULSE_HTTP_PORT=5555

GEOPULSE_UI_URL=http://localhost:5555
GEOPULSE_PUBLIC_BASE_URL=
GEOPULSE_CORS_ENABLED=false
GEOPULSE_CORS_ORIGINS=
GEOPULSE_COOKIE_DOMAIN=
GEOPULSE_AUTH_SECURE_COOKIES=false
GEOPULSE_BACKEND_URL=http://geopulse-backend:8080

GEOPULSE_POSTGRES_DB=geopulse
GEOPULSE_POSTGRES_USERNAME=geopulse
GEOPULSE_POSTGRES_PASSWORD=replace-with-a-long-random-password

GEOPULSE_ADMIN_EMAIL=
GEOPULSE_USER_DEFAULT_MEASURE_UNIT=METRIC

GEOPULSE_MQTT_ENABLED=false
GEOPULSE_MQTT_BROKER_HOST=geopulse-mosquitto
GEOPULSE_MQTT_BROKER_PORT=1883
GEOPULSE_MQTT_USERNAME=geopulse_mqtt_admin
GEOPULSE_MQTT_PASSWORD=replace-with-a-long-random-mqtt-password
GEOPULSE_MQTT_TLS_ENABLED=false

GEOPULSE_OIDC_ENABLED=false
GEOPULSE_AUTH_LOGIN_ENABLED=true
GEOPULSE_AUTH_PASSWORD_LOGIN_ENABLED=true
GEOPULSE_AUTH_OIDC_LOGIN_ENABLED=true
GEOPULSE_AUTH_ADMIN_LOGIN_BYPASS_ENABLED=true
GEOPULSE_AUTH_GUEST_ROOT_REDIRECT_TO_LOGIN_ENABLED=false

CLIENT_MAX_BODY_SIZE=1000M
OSM_RESOLVER=127.0.0.11 8.8.8.8
GEOPULSE_GEOCODING_DELAY_MS=1000

GEOPULSE_IMPORT_DROP_FOLDER_ENABLED=false
GEOPULSE_IMPORT_DROP_FOLDER_PATH=/data/geopulse-import
GEOPULSE_SHARE_BASE_URL=
