WEB_CHECK_PORT=6160
API_ENABLE_RATE_LIMIT=true
PUBLIC_API_TIMEOUT_LIMIT=30000
API_CORS_ORIGIN=*
TRUST_PROXY=false

# Keep private and local. These are optional.
GOOGLE_CLOUD_API_KEY=
SHODAN_API_KEY=
CLOUDMERSIVE_API_KEY=
TRANCO_USERNAME=
TRANCO_API_KEY=
GITHUB_TOKEN=
CERTSPOTTER_TOKEN=
