TS_AUTHKEY=tskey-auth-replace-this
TS_HOSTNAME=homelab-subnet-router
TS_AUTH_ONCE=true

# Examples:
# TS_EXTRA_ARGS=--advertise-routes=192.168.1.0/24
# TS_EXTRA_ARGS=--advertise-exit-node
# TS_EXTRA_ARGS=--advertise-routes=192.168.1.0/24 --advertise-exit-node
TS_EXTRA_ARGS=
