CB_BULLMQ_USERNAME=chartbrew
CB_BULLMQ_PASSWORD=replace-me-long-random-password
CB_DB_NAME=chartbrew
CB_DB_USERNAME=chartbrew
CB_DB_PASSWORD=replace-me-long-random-password
CB_SECRET=replace-me-long-random-string
CB_ENCRYPTION_KEY=replace-me-64-hex-character-key
VITE_APP_CLIENT_HOST=http://localhost:4018
VITE_APP_API_HOST=http://localhost:4019
CHARTBREW_CLIENT_PORT=4018
CHARTBREW_API_PORT=4019
CB_RESTRICT_SIGNUP=0
CB_RESTRICT_TEAMS=0
