{$PUBLIC_URL:chat.example.com} {
	reverse_proxy {
		dynamic a chatto 4000 {
			refresh 5s
			versions ipv4
		}
		lb_policy round_robin
		lb_try_duration 5s
		fail_duration 30s
		header_up X-Real-IP {remote_host}
	}

	encode gzip zstd
}

livekit.{$PUBLIC_URL:chat.example.com} {
	reverse_proxy livekit:7880
}
